/* Importação da fonte */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* Reset CSS e definição da fonte padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Estilos gerais do body */
body {
    background: #eaeaea;
}

/* Estilos do cabeçalho */
.header {
    position: relative;
    text-align: center;
    width: 100%;
    padding: 30px 8%;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

/* Estilos do logo */
.logo {
    font-size: 25px;
    color: #222;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

/* Estilos da barra de navegação */
.navbar {
    display: flex;
    align-items: center;
}

.navbar a {
    font-size: 18px;
    color: #000;
    text-decoration: none;
    font-weight: 500;
    margin: 0 20px;
    transition: 0.3s;
}

/* Estilos do conteúdo do menu dropdown */
.navbar .dropdown-content a {
    display: block;
    padding: 10px 20px;
}

.navbar a:hover {
    color: #1743e3;
}

header {
    background-color: black;
    width: 100%;
    height: 60px;
    text-align: center;
    color: white;
    display: flex;
}

header h1 {
    font-size: 17px;
    padding-left: 25px;
    margin-top: 20px;
}

header h1:nth-child(5) {
    margin-right: 150px;
}

header h1:nth-child(6) {
    margin-right: 80px;
}
