/* Estilos para o vídeo de fundo */
#video-bg {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    background-size: cover;
}

/* Estilos para o conteúdo principal */
.content {
    position: relative;
    z-index: 1;
    color: #fff;
}

.centered {
    text-align: center;
    margin: 0 auto;
    padding: 50px;
}

.right-aligned {
    text-align: right;
    margin: 0 auto;
    padding: 50px;
}

/* Cursor personalizado */
body {
    cursor: url('custom-cursor.png'), auto;
}

.hover-change {
    cursor: pointer;
}
